
    h2 {color: blue }
    .highlight-text {background-color: yellow;}
    #main-title {border-bottom: 3px solid red;}
    #lecture-list li {font-weight: bold; color: aqua;}
    body > p {font-size: 20px;}
